/********** Base styles **********/

p {
  font-size: 16pt
}

#t1 {
  background-color: darkred;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
#t1h2  {
  font-size: 30pt;
}
#t2 {
  background-color: lightblue;
  color: darkblue;
  font-weight: bold;
  margin-bottom: 20px;
}
#t3 {
  background-color: red;
  color: gold;
  font-weight: bold;
  margin-bottom: 20px;
}
#nav-list a:hover {
  background: lightgrey;
  font-weight: bold;
}
#nav-list a {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: khaki;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
.icon-bar {
 border: 1px solid red;
}
#pict {
  width: 60px;
  border-left: 40px;
}
#header-nav {
	background-color: #E7E7E7;
}
#tag {
  font-size: 20pt;
  color: blue;
}