/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  /*background-color: #eee!important;*/
}

h1 {
  margin-bottom: 15px;
}

h2 {
  font-weight: bold!important;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid darkblue;
}

.btn {
  margin: 8px!important;
  padding: 0px!important;
}

.dropdown-toggle.btn-default {
  border-color: darkblue;
  background-color: #94a8f1!important;
}

.dropdown-toggle.btn-default:hover {
  background-color: #E7E7E7!important;
}

.dropdown-menu {
  background-color: rgba(71, 114, 227, 0.39)!important;
}

.navbar-toggle {
  background-color: #94a8f1!important;
}

.navbar-toggle:hover {
   background-color: #E7E7E7!important;
}

.navbar-collapse {
  margin: 0px;
  padding: 0px!important;
}

.pict {
  margin-top: 10px;
  margin-right: 5px;
  width: 40px;
}

.pict:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px #222;
}

.dropdown-menu li:hover {
  background-color: #E7E7E7;
}

.puntero {
  cursor: pointer;
}

#header-nav {
  background-color: rgba(71, 114, 227, 0.39);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 0;
  margin-bottom: 0px;
}

#header-name {
  font-family: "Garamond", fantasy, serif;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

#header-name a:hover {
  text-decoration: none;
}

#nav-list li {
}

#nav-list li:hover {
  background: #E7E7E7;
  cursor: pointer;
}

#background {
  text-align: left;
}

#main-content {
  padding-right: 0px;
  padding-left: 0px;
}
/* Simple Responsive Framework. */


/*/////////////////// Footer stuff /////////////////////*/
footer section h3 {
  text-align: center;
  font-size: 1.3em!important;
  color: #337ab7!important;
}

footer h4 {
  text-align: center;
  font-size: 1.0em!important;
}

footer hr {
  width: 70%;
}

.panel-footer {
  background-color: lightgrey!important;
}

.contfooter {
  padding: 0px!important;
}

.icon-footer {
  width: 35px;
}

.icon-footer:hover {
  box-shadow: 1px 1px 1px #222;
}

#sec2 {
  border-left: 1px solid black!important;
}

#sec2 ul {
  padding: 0;
}
/*/////////////////// Footer stuff /////////////////////*/


/*/////////////////// Certifications ///////////////////*/
.Certificateframe {
  background-image: linear-gradient(#f5f5f5, #337ab7);
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
}

.Certificateframe h2 {
  padding-top: 70px;
}

.Certificateframe img {
  padding: 10px 0px;
}
/*/////////////////// Certifications ///////////////////*/


/********** Large devices only **********/
@media (min-width: 1200px){
  h2 {
    font-size: 1.5em!important;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){
  h2 {
    font-size: 1.3em!important;
  }
  #header-name {
    font-size: 30px;
  }
}

/********** Small devices only **********/
@media (min-width: 769px) and (max-width: 991px) {
  h2 {
    font-size: 1.1em!important;
  }
  .pict_ico {
    width: 35px;
  }
  .navbar-header {
    padding-left: 0!important;
  }
  #header-name {
    font-size: 24px;
  }
  #background {
    padding: 0;
  }
  #sec2 {
  border-left: none!important;
  }
}

/********** Extra Small devices only **********/
@media (max-width: 768px) {
  h2 {
    font-size: 1.0em!important;
  }
  footer section h3 {
    text-align: center;
    font-size: 1.2em!important;
  }
  #sec2 {
  border-left: none!important;
  }
  #header-name {
    font-size: 20px;
    padding: 0px;
    margin-top: 15px;
    margin-right: 0px;
  }
  .pict_ico {
    width: 35px;
  }
  #nav-list {
  margin-right: 15px;
  margin-left: 15px;
  }
  #nav-list li {
    margin-bottom: 10px;
    margin-right: 0px;
    padding: 0px 10px;
    background-image: linear-gradient(#b7c8f4, #337ab7);
    border: 1px solid darkblue;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #222;
  }
  #nav-list li:hover {
  background: #337ab7;
  }
  #background {
  text-align: center;
  }
}