/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  /*background-color: #eee!important;*/
}

h1 {
  margin-bottom: 15px;
}

h2 {
  font-weight: bold!important;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid darkblue;
}

.navbar-header {
  width: 100%;
}

.btn {
  margin: 8px!important;
  padding: 0px!important;
}

.dropdown-toggle.btn-default {
  border-color: darkblue;
  background-color: #94a8f1!important;
}

.dropdown-toggle.btn-default:hover {
  background-color: #E7E7E7!important;
}

.dropdown-menu {
  background-color: rgba(71, 114, 227, 0.39)!important;
}

.navbar-toggle {
  background-color: #94a8f1!important;
}

.navbar-toggle:hover {
   background-color: #E7E7E7!important;
}

.navbar-collapse {
  margin: 0px;
  padding: 0px!important;
}

.pict {
  margin-top: 10px;
  margin-right: 5px;
  width: 40px;
}

.pict:hover {
  cursor: pointer;
  background-color: #337ab7;
}

.dropdown-menu li:hover {
  background-color: #E7E7E7;
}

.puntero {
  cursor: pointer;
}

#header-nav {
  background-color: rgba(71, 114, 227, 0.39);
  border-radius: 0;
  border: 0;
}

#header-name {
  font-family: "Garamond", fantasy, serif;
  margin: 13px;
  padding-right: 40px;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}

#header-name a:hover {
  text-decoration: none;
}

#nav-list {
  margin-right: 15px;
  margin-left: 15px;
}

#nav-list li {
  padding: 0px 10px;
  background-image: linear-gradient(#b7c8f4, #337ab7);
  border: 1px solid darkblue;
  border-radius: 5px;
}

#nav-list li:hover {
  background: #337ab7;
  cursor: pointer;
}

#main-content {
  padding-right: 0px;
  padding-left: 0px;
}
/* Simple Responsive Framework. */

/*/////////////////// Certifications ///////////////////*/
.Certificateframe {
  background-image: linear-gradient(#f5f5f5, #337ab7);
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
}

.Certificateframe h2 {
  padding-top: 70px;
}

.Certificateframe img {
  padding: 10px 0px;
}
/*/////////////////// Certifications ///////////////////*/


/********** Large devices only **********/
@media (min-width: 1200px){
  h2 {
    font-size: 1.5em!important;
  }
  #nav-list li {
    margin-right: 20px;
    margin-bottom: 5px;
    /*height: 65px;*/
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px){
  h2 {
    font-size: 1.3em!important;
  }
  #header-name {
    font-size: 30px;
  }
  #nav-list li {
    margin-right: 15px;
    margin-bottom: 5px;
    height: 59px;
  }
}

/********** Small devices only **********/
@media (min-width: 769px) and (max-width: 991px) {
  h2 {
    font-size: 1.1em!important;
  }
  .pict_ico {
    width: 35px;
  }
  #header-name {
    padding-right: 30px;
    font-size: 24px;
  }
  #nav-list li {
    height: 52px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

/********** Extra Small devices only **********/
@media (max-width: 768px) {
  h2 {
    font-size: 1.0em!important;
  }
  #header-name {
    font-size: 20px;
    padding: 0px;
    margin-top: 15px;
    margin-right: 0px;
  }
  .pict_ico {
    width: 35px;
  }
  #nav-list li {
    margin-bottom: 10px;
    margin-right: 0px;
  }
}